* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header {
    padding: 5px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    z-index: 100000;
    text-align: center;
    min-height: 8vh;
    font-family: 'Montserrat', sans-serif;
}
header .home {
    position: relative;
    color: black;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}
header.sticky a {
    margin: 0 15px;
    font-weight: 2em;
    color: rgb(46, 4, 85);
}
header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}
header ul li {
    position: relative;
    list-style: none;
}
header ul li a {
    position: relative;
    margin: 0 15px;
    color: black;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    transition: 0.6s;
}
header.sticky {
    padding: 10px 10px;
    background: black;
}
header.sticky ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
    color: #fff;
    transition: 0.6s;
}
h1 {
    text-align: center;
    font-size: 500%;
    color: black;
    letter-spacing: 3px;
    padding-top: 25px;
}
body {
    color: black;
    background-color: #fff;
    margin: 0;
    padding: 0;
}
body::-webkit-scrollbar {
    width: .8rem;

}
body::-webkit-scrollbar-track {
    background-color: #1e1e24;
}
body::-webkit-scrollbar-thumb {
    background: rgb(15, 15, 15);
}
.margin {
    margin: 75% 0;
}
.parallax {
    background: url(abstract.webp)
    repeat fixed 100%;
}
.parallax-inner {
    padding-top: 30%;
    padding-bottom: 30%;
}
.logo {
    /*color: rgb(235, 227, 227);*/
    letter-spacing: 5px;
    font-size: 23px;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}