* {
    margin: 0px;
    padding: 0px;
}
html {
    scroll-behavior: smooth;
}
header {
    padding: 5px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    z-index: 100000;
    text-align: center;
    min-height: 8vh;
    font-family: 'Montserrat', sans-serif;
}
header .home {
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}
header.sticky a {
    margin: 0 15px;
    font-weight: 2em;
    color: white;
}
header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}
header ul li {
    position: relative;
    list-style: none;
}
header ul li a {
    position: relative;
    margin: 0 15px;
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    transition: 0.6s;
}
header.sticky {
    padding: 10px 10px;
    background: black;
}
header.sticky ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
    color: #fff;
    transition: 0.6s;
}
body {
    color: black;
    background-color: #fff;
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8em;
    image-rendering: -webkit-optimize-contrast;
}
body::-webkit-scrollbar {
    width: .8rem;

}
body::-webkit-scrollbar-track {
    background-color: #1e1e24;
}
body::-webkit-scrollbar-thumb {
    background: rgb(15, 15, 15);
}
.img1, .img2, .img3, .img4 {
    position: relative;
    opacity: 1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    /*
        fixed = parallax
        scroll = normal
    */
    background-attachment: fixed;
}
.img1 {
    background-image: url('city.jpg');
    min-height: 775px;
}
.img2 {
    background-image: url('2.jpg');
    min-height: 400px;
}
.img3 {
    background-image: url('2.jpg');
    min-height: 400px;
}
.img4 {
    background-image: url('city.jpg');
    min-height: 400px;
}
.section {
    text-align: center;
    padding: 50px 80px;
}
.section-light {
    background-color:#f4f4f4;
    color: #666;
}
.section-dark {
    background-color: #282e34;
    color: #ddd;
}
.text {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}
.text .border {
    background-color: #111;
    color: white;
    padding: 20px;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}